<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:node="merge">

    <application
        android:name="com.mendix.nativetemplate.DevApplication"
        tools:node="merge"
        tools:replace="android:name">
        <activity
            android:name="com.mendix.nativetemplate.MainActivity"
            android:screenOrientation="portrait"
            tools:node="merge"></activity>
        <activity android:name="com.mendix.mendixnative.activity.MendixReactActivity"></activity>
    </application>
</manifest>
