<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mendix.nativetemplate">

    <application
        android:name="com.mendix.nativetemplate.DevApplication"
        tools:replace="android:name">
        <activity
            android:name="com.mendix.nativetemplate.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:windowSoftInputMode"
            tools:node="merge"></activity>
        <activity
            android:name="com.mendix.mendixnative.activity.MendixReactActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"></activity>
    </application>
</manifest>
