name: '[Android] Custom Dev App CI'

on:
  workflow_dispatch:
  schedule: 
    - cron: '0 0 * * *'
  pull_request:
    branches: [master, release/*]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
      - name: actions/setup-node
        uses: actions/setup-node@v3
        with:
          node-version: "16.14.2"
      - name: npm install
        run: npm ci
      - name: Add NDK 21.4.7075529
        run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.4.7075529"
      - name: Build with Gradle
        run: ./gradlew assembleDevDebug
        working-directory: ./android
