name: '[Windows] Test npm installation'

on:
  workflow_dispatch:
  schedule: 
    - cron: '0 0 * * *'
  pull_request:
    branches: [master, release/*]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          architecture: 'x64'
      - run: npm install